<div class="flex-1 layout vertical" [@slideInOut]>
  <app-nav-bar (scrollTo)="scrollTo($event)"></app-nav-bar>
  <div id="panel0" style="height:100vh" class="content-wrapper layout vertical center center-justified">
    <img class="logo" src="../../../assets/logo-text.png" />
    <span class="logo-text">"De vrei gustul fericirii, stampileaza trandafirii!"</span>
    <span class="mt-10-1 logo-text-2">-Nicoale Guta</span>
  </div>
  <div class="layout vertical center" id="panel1"
    style="background-image:url(../../../assets/background.png);height: calc(100vh)">
    <!-- <span class="brake-line"></span> -->
    <span style="text-align: center;
    margin: 80px 10px 10px;
    /* width: 500px; */
    font-weight: 300;
    padding: 5px 10px;
    /* color: white; */
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;"> Vezi parlamentarii din <strong>judetul</strong> tau:</span>
    <app-interactive-map (politicians)="loadPoliticians($event)" style="height: 500px;"></app-interactive-map>
    <span style="text-align: center;
    margin: 80px 10px 10px;
    /* width: 500px; */
    font-weight: 300;
    padding: 5px 10px;
    /* color: white; */
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;" class="see-all" (click)="seeAll()"> Vezi toti parlamentarii</span>
  </div>
  <div class="layout vertical center" id="panel2" style="min-height: calc(100vh - 64px)">
    <!-- <span class="brake-line"></span> -->
    <span *ngIf="!judet" style="text-align: center;
    margin: 80px 10px 10px;
    /* width: 500px; */
    font-weight: 300;
    padding: 5px 10px;
    /* color: white; */
    background-color: black;
    border-radius: 5px;
    color: white;
    border: 1px solid white;"> Cei mai activi <strong>parlamentari</strong> de pe platforma:</span>
    <span *ngIf="judet" style="text-align: center;
     margin: 80px 10px 10px;
     /* width: 500px; */
     font-weight: 300;
     padding: 5px 10px;
     /* color: white; */
     background-color: black;
     border-radius: 5px;
     color: white;
     border: 1px solid white;"> Parlamentari din judetul <strong
        style="text-transform: capitalize">{{judet}}</strong>:</span>
    <input type="text" id="search-input" placeholder="Cauta parlamentar..." [(ngModel)]="searchText" (keyup)="search()">
    <div style="    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
    padding: 10px 60px;">
      <div class="politician ml-10-1 mr-10-1" *ngFor="let politician of politicians">
        <div class="politician-content">
          <div class="image-wrapper">
            <img src="{{politician.pictureUrl}}" alt="">
          </div>
          <div class="name">{{politician.name}}</div>
          <div class="role">{{politician.politicianType==='deputy'?'Deputat':'Senator'}} {{politician.party}}
          </div>
          <img src="../../../assets/usr-logo.jpg" style="height:20px" alt="" *ngIf="politician.party == 'USR'">
          <img src="../../../assets/psd-logo.jpg" style="height:20px" alt="" *ngIf="politician.party == 'PSD'">
          <img src="../../../assets/udmr-logo.jpg" style="height:20px" alt="" *ngIf="politician.party == 'UDMR'">
          <img src="../../../assets/pmp-logo.png" style="height:20px" alt="" *ngIf="politician.party == 'PMP'">
          <img src="../../../assets/pnl-logo.gif" style="height:20px" alt="" *ngIf="politician.party == 'PNL'">
          <img src="../../../assets/alde-logo.png" style="height:20px" alt="" *ngIf="politician.party == 'ALDE'">
        </div>
        <div class="footer">
          <div class="profile-button" (click)="openDialog(politician,false)">Vezi profil</div>
          <div class="profile-button" (click)="openDialog(politician,true)">Trimite mesaj </div>
        </div>
      </div>

    </div>

  </div>
  <div class="layout vertical center" id="panel3"
    style="background-position-x: -1000px;
    background-position-y: -1200px;background-image:url(../../../assets/background.png);min-height: calc(100vh - 64px)">
    <span style="text-align: center;
    margin: 70px 10px;
    font-weight: 300;
    font-size: 30px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;">Top <strong>10</strong> Influenta</span>
    <span style="color: white;
    background-color: #000000;
    padding: 6px;
    font-size: 13px;
    margin-top: 5px;
    border-radius: 6px;">Influenta este calculata in functie de: declaratii politice,
      intrebari si interpelari,
      luari de cuvant,
      motiuni,
      propuneri de hotarare si
      propuneri legislative</span>
    <div *ngIf="top10" style="width:100%;justify-content: space-evenly;" class="layout horizontal ">
      <div class="layout vertical metric-card">
        <span class="title">Partid</span>
        <span class="record" *ngFor="let party of top10.topParties;let i = index">
          <div><strong>{{i+1}}</strong>. {{party.name}}</div>
          <div class="info-button">
            info button
          </div>
          <div class="tooltip">
            <div class="line">
              <div class="field">Declaratii politice: </div>
              <span class="value">{{party.activity.declaratiiPolitice}}</span>
            </div>
            <div class="line">
              <div class="field">Intrebari si Interpolari: </div>
              <span class="value">{{party.activity.intrebariSiInterpelari}}</span>
            </div>
            <div class="line">
              <div class="field">Luari de cuvant: </div>
              <span class="value">{{party.activity.luariDeCuvant.total}}</span>
            </div>
            <div class="line">
              <div class="field">Propuneri Legislative: </div>
              <span class="value">{{party.activity.declaratiiPolitice}}</span>
            </div>
          </div>
        </span>
      </div>
      <div class="layout vertical metric-card">
        <span class="title">Judet</span>
        <span style="text-transform: capitalize" class="record" *ngFor="let party of top10.topCounties;let i = index">
          <div>
            <strong>{{i+1}}</strong>. {{party.name}}
          </div>
          <div class="info-button">
            info button
          </div>
          <div class="tooltip">
            <div class="line">
              <div class="field">Declaratii politice: </div>
              <span class="value">{{party.activity.declaratiiPolitice}}</span>
            </div>
            <div class="line">
              <div class="field">Intrebari si Interpolari: </div>
              <span class="value">{{party.activity.intrebariSiInterpelari}}</span>
            </div>
            <div class="line">
              <div class="field">Luari de cuvant: </div>
              <span class="value">{{party.activity.luariDeCuvant.total}}</span>
            </div>
            <div class="line">
              <div class="field">Propuneri Legislative: </div>
              <span class="value">{{party.activity.declaratiiPolitice}}</span>
            </div>
          </div>
        </span>
      </div>
      <div class="layout vertical metric-card">
        <span class="title">Individual</span>
        <span style="text-transform: capitalize" class="record" *ngFor="let dep of top10.deputies;let i = index">
          <div>
            <strong>{{i+1}}</strong>. {{dep.name }} <strong class="ml-5-1 mr-5-1">{{ dep.party}}</strong>{{ dep.county}}
          </div>
        </span>
      </div>
    </div>

  </div>
</div>