.logo {
  height: 250px;
  width: 750px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.logo-text {
  color: #ffad00;
  width: 400px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 200;
  animation: fadein 3s;

}

.logo-text-2 {
  color: black;
  width: 400px;
  text-align: center;
  font-weight: 100;
  font-size: 18px;
  animation: fadein 5s;

}

.politician {
  margin-bottom: 40px;
  background-color: white;
  height: 300px;
  display: flex;
  width: 300px;
  flex-direction: column;
  border-radius: 5px;
  /* background-color: #ffad00; */
  align-items: center;
  /* border: 1px solid #ffad00; */
  justify-content: space-between;
  box-shadow: 0 0 3px 0px #9a9a9a;

  .politician-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-wrapper {
      width: 90px;
      height: 90px;
      border: 1px solid #ffad00;
      border-radius: 50%;
      margin: 30px 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: contain;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transition: .5s;
      }
    }

    .name {
      font-size: 20px;
      text-align: center;
      font-weight: 600;
      color: black;
    }

    .role {
      font-size: 18px;
      color: #ffad00;
    }
  }

  .footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-self: flex-end;
    align-items: center;

    .profile-button {
      width: 50%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #d4d3db;
      font-weight: 600;

      &:hover {
        color: #ffad00;
      }
    }

    .profile-button:nth-of-type(1) {
      border-right: 1px solid #f1f1f2;
    }
  }
}


/deep/ .mat-dialog-container {
  padding: 0 !important;
}

.see-all {
  cursor: pointer;

  &:hover {
    background-color: #ffad00 !important;
    border: none;
    color: white;
  }
}

#search-input {
  margin: 10px 0px;
  outline: none;
  padding: 10px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #ffad00;
}

.metric-card {
  height: 600px;
  width: 28%;
  max-width: 350px;
  background-color: white;
  margin: 20px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 1px 0px black;

  .record {
    display: flex;
    flex-direction: row;
    padding: 15px;
    font-size: 15px;

    &:nth-child(odd) {
      background-color: #ffad0024;
    }
  }

  .title {
    background-color: #e6e6e6;
    color: black;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #ffad00;
  }
}
