<div class="flex-1 layout vertical" [@slideInOut]>
  <app-nav-bar (scrollTo)="scrollTo($event)"></app-nav-bar>
  <div style="height:100vh" class="content-wrapper layout vertical center center-justified">
    <img class="logo" src="../../../assets/logo-text.png" />
    <span class="logo-text">"De vrei gustul fericirii, stampileaza trandafirii!"</span>
    <span class="mt-10-1 logo-text-2">-Nicoale Guta</span>
  </div>
  <div class="layout vertical center" id="panel1"
    style="background-image:url(../../../assets/background.png);height: calc(100vh)">
    <!-- <span class="brake-line"></span> -->
    <span style="text-align: center;
    margin: 80px 10px 10px;
    /* width: 500px; */
    font-weight: 300;
    padding: 5px 10px;
    /* color: white; */
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;"> Vezi parlamentarii din <strong>judetul</strong> tau:</span>
    <app-interactive-map (politicians)="loadPoliticians($event)" style="height: 500px;"></app-interactive-map>
  </div>
  <div class="layout vertical center" id="panel2" style="height: calc(100vh - 64px)">
    <!-- <span class="brake-line"></span> -->
    <span *ngIf="!judet" style="text-align: center;
    margin: 80px 10px 10px;
    /* width: 500px; */
    font-weight: 300;
    padding: 5px 10px;
    /* color: white; */
    background-color: black;
    border-radius: 5px;
    color: white;
    border: 1px solid white;"> Cei mai activi <strong>parlamentari</strong> de pe platforma:</span>
    <span *ngIf="judet" style="text-align: center;
     margin: 80px 10px 10px;
     /* width: 500px; */
     font-weight: 300;
     padding: 5px 10px;
     /* color: white; */
     background-color: black;
     border-radius: 5px;
     color: white;
     border: 1px solid white;"> Parlamentari din judetul <strong
        style="text-transform: capitalize">{{judet}}</strong>:</span>
    <div style="    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
    padding: 10px 60px;">
      <div class="politician ml-10-1 mr-10-1" *ngFor="let politician of politicians">
        <div class="politician-content">
          <div class="image-wrapper">
            <img src="{{politician.pictureUrl}}" alt="">
          </div>
          <div class="name">{{politician.name}}</div>
          <div class="role">{{politician.politicianType==='deputy'?'Deputat':'Senator'}} {{politician.party}}</div>
        </div>
        <div class="footer">
          <div class="profile-button" (click)="openDialog(politician,false)">Vezi profil</div>
          <div class="profile-button" (click)="openDialog(politician,true)">Trimite mesaj </div>
        </div>
      </div>

    </div>

  </div>
</div>
