<div class="profile-wrapper flex-1">
  <div class="header">
    <div class="image-wrapper">
      <img src="{{politician.pictureUrl}}" alt="">
    </div>
    <div class="name">{{politician.name}}</div>
    <button (click)="showMessage = true" class="btn1 mt-10-1">Trimite mesaj
    </button>
  </div>
  <div class="details">
    <div class="field">
      <div class="label">Partid</div>
      <div class="value">{{politician.party?politician.party:'-'}}</div>
    </div>
    <div class="field">
      <div class="label">Judet</div>
      <div class="value">{{politician.county?politician.county:'-'}}</div>
    </div>

    <div class="field">
      <div class="label">Adresa</div>
      <div class="value">{{politician.address?politician.address:'-'}}</div>
    </div>
    <div class="field">
      <div class="label">Email</div>
      <div class="value">{{politician.email?politician.email:'-'}}</div>
    </div>
  </div>
</div>
<form #f="ngForm" (submit)="f.form.valid && submit()">
  <div *ngIf="showMessage" class="w3-animate-left msg-wrapper flex-1 layout vertical">
    <mat-form-field>
      <mat-label>Mesaj</mat-label>
      <textarea required [(ngModel)]="message.msg" name="msg" matInput cdkTextareaAutosize
        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="12" cdkAutosizeMaxRows="12"></textarea>
      <mat-error>Camp obligatoriu</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="message.from" #email="ngModel" [email]="true" name="email" placeholder="Email-ul tau" matInput
        required>
      <mat-error *ngIf="email.errors && email.errors.required">Camp obligatoriu</mat-error>
      <mat-error *ngIf="email.errors &&  email.errors.email">Email invalid</mat-error>
    </mat-form-field>
    <mat-checkbox (change)="message.letter=!message.letter" [checked]="message.letter" name="letter"
      class="mt-auto mb-10-1" style="font-size: 12px">Vrei sa
      trimitem acest
      mesaj
      si la adresa postala?
    </mat-checkbox>
    <button type="submit" class="btn2 ">Trimite</button>
  </div>

</form>
