<div class="profile-wrapper flex-1">
  <div class="header">
    <div class="image-wrapper">
      <img src="{{politician.pictureUrl}}" alt="">
    </div>
    <div class="name">{{politician.name}}</div>
    <button (click)="showMessage = true" class="btn1 mt-10-1">Trimite mesaj
    </button>
    <div class="tabs">
      <div class="tab" [ngClass]="{'active-tab': activeTab == 0}" (click)="selectTab(0)">Detalii</div>
      <div class="tab" [ngClass]="{'active-tab': activeTab == 1, 'disabled-tab': !politician.wealthDeclaration}"
        (click)="selectTab(1)">Declaratie</div>
      <div class="tab" [ngClass]="{'active-tab': activeTab == 2, 'disabled-tab': !politician.announcement}"
        (click)="selectTab(2)">Anunturi</div>
    </div>
  </div>
  <div class="details flex-1" *ngIf="activeTab == 0">
    <div class="field">
      <div class="label">Partid</div>
      <div class="value">{{politician.party?politician.party:'-'}}</div>
    </div>
    <div class="field">
      <div class="label">Judet</div>
      <div class="value" style="text-transform: capitalize">{{politician.county?politician.county:'-'}}</div>
    </div>

    <div class="field">
      <div class="label">Adresa</div>
      <div class="value">{{politician.address?politician.address:'-'}}</div>
    </div>
    <div class="field">
      <div class="label">Email</div>
      <div class="value">{{politician.email?politician.email:'-'}}</div>
    </div>
    <div class="field" *ngIf="politician.activity">
      <div class="label">Luari de cuvant </div>
      <div class="value">{{politician.activity.luariDeCuvant.total}} in
        {{politician.activity.luariDeCuvant.sedinte}} sedinte</div>
    </div>
    <div class="field" *ngIf="politician && politician.activity && politician.activity.propuneriLegislative">
      <div class="label">Propuneri legislative</div>
      <div class="value">
        {{politician.activity.propuneriLegislative.total}}
        <span style="font-size:11px; margin: 0px 3px">din care</span>
        {{politician.activity.propuneriLegislative.promulgate}} promulgate</div>
    </div>
    <div class="field" *ngIf="politician.activity">
      <div class="label">Propuneri de hotarare</div>
      <div class="value">{{politician.activity.propuneriDeHotarare}}</div>
    </div>
    <div class="field" *ngIf="politician.activity">
      <div class="label">Motiuni</div>
      <div class="value">{{politician.activity.motiuni}}</div>
    </div>
    <div class="field" *ngIf="politician.activity">
      <div class="label">Intrebari Si Interpelari</div>
      <div class="value">{{politician.activity.intrebariSiInterpelari}}</div>
    </div>
  </div>
  <div class="details flex-1" *ngIf="activeTab == 1">
    <!-- <pdf-viewer src="http://192.168.6.203:9999/declaratii/deputati/2016/avere/225d.pdf" [render-text]="true"
      style="display: block;"></pdf-viewer> -->
    <div class="download">Vezi <a [href]="politician.wealthDeclaration" target="_blank"
        *ngIf="politician.wealthDeclaration">declaratia de avere</a> </div>
    <object [data]="politician.wealthDeclaration" type="application/pdf" style="width:100%;height:450px;"
      *ngIf="politician.wealthDeclaration">
      <embed [src]="politician.wealthDeclaration" type="application/pdf" />
    </object>
  </div>
  <div class="details flex-1" *ngIf="activeTab == 2" style="height:500px">
    <div class="announcement">
      {{politician.announcement}}
    </div>
  </div>
</div>
<form #f="ngForm" (submit)="f.form.valid && submit()">
  <div *ngIf="showMessage" class="w3-animate-left msg-wrapper flex-1 layout vertical">
    <mat-form-field>
      <mat-label>Mesaj</mat-label>
      <textarea required [(ngModel)]="message.msg" name="msg" matInput cdkTextareaAutosize
        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="12" cdkAutosizeMaxRows="12"></textarea>
      <mat-error>Camp obligatoriu</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="message.from" #email="ngModel" [email]="true" name="email" placeholder="Email-ul tau" matInput
        required>
      <mat-error *ngIf="email.errors && email.errors.required">Camp obligatoriu</mat-error>
      <mat-error *ngIf="email.errors &&  email.errors.email">Email invalid</mat-error>
    </mat-form-field>
    <mat-checkbox (change)="message.letter=!message.letter" [disabled]="politician.email? false:true"
      [checked]="message.email? message.letter:true" name="letter" class="mt-auto mb-10-1" style="font-size: 12px">Vrei
      sa
      trimitem acest
      mesaj
      si la adresa postala?
    </mat-checkbox>
    <span style="font-size: 12px;
    background: #ffb0b0;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 13px;" *ngIf="!politician.email">Acest parlamentar nu are adresa de email. Singura posibilitate prin
      care poate fi
      contactat este prin scrisoare. </span>
    <button type="submit" class="btn2">Trimite</button>
  </div>

</form>
