.profile-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #cec7c7;

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #f1f1f1;
    // padding-bottom: 15px;
    justify-content: center;

    .image-wrapper {
      position: absolute;
      width: 90px;
      margin-top: -85px;
      background-color: white;
      height: 90px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: contain;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transition: 0.5s;
      }
    }

    .name {
      font-size: 20px;
      margin-top: 60px;
    }
  }

  .details {
    // border-top: 5px solid #ffad00;
    padding: 10px 30px;
    box-sizing: border-box;
    background-color: #f1f1f1;

    .field {
      margin-bottom: 2px;
      width: 100%;
      word-break: break-all;
      border-bottom: 1px solid #eaeaea;

      .label {
        font-size: 10px;
        color: grey;
        text-transform: uppercase;
        font-weight: 600;
      }

      .value {
        margin: 10px 0px;
        font-size: 14px;
      }
    }

    .field:nth-last-of-type(1) {
      border-bottom: 0;
    }
  }
}

.msg-wrapper {
  transition: 1s;
  left: 0;
  padding: 24px;
  width: 320px;
}

.w3-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.tabs {
  display: flex;
  width: 100%;
  margin-top: 30px;
  // padding-bottom: 5px;
  border-top: 1px solid #f1f1f1;

  .tab {
    width: 33%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    text-align: center;
    border-right: 1px solid #f1f1f1;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    &:hover {
      background-color: #f1f1f1;
    }
  }
  .active-tab {
    border-bottom: 5px solid #ffad00;
  }
}

.download {
  font-size: 14px;
  margin-bottom: 3px;
}

.announcement {
  width: 100%;
  min-height: 60px;
  font-size: 13px;
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box;
}
.announcement:nth-last-of-type(1) {
  border-bottom: 0;
}
.disabled-tab {
  cursor: initial !important;
  background-color: #f8f8f8 !important;
  color: #a1a1a1 !important;
  &:hover {
    background-color: #f8f8f8 !important;
  }
}
