.navbar {
  padding: 0px 20px;
  // background: #cccccc;
  /* Black background color */
  position: fixed;
  /* Make it stick/fixed */
  // top: -64px;
  /* Hide the navbar 50 px outside of the top view */
  width: calc(100% - 40px);
  height: 64px;
  border-bottom: 0.1px solid #2a2929;
  background-color: white;
  z-index: 2;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}
