<div class="politicians-wrapper">
  <div class="title">Parlamentarii Romaniei</div>
  <div class="politicians-list">
      <div style="    display: flex;
      justify-content: space-evenly;
      flex: 1;
      flex-wrap: wrap;
      padding: 10px 60px;">
        <div class="politician ml-10-1 mr-10-1" *ngFor="let politician of politicians">
          <div class="politician-content">
            <div class="image-wrapper">
              <img src="{{politician.pictureUrl}}" alt="">
            </div>
            <div class="name">{{politician.name}}</div>
            <div class="role">{{politician.politicianType==='deputy'?'Deputat':'Senator'}} {{politician.party}}</div>
          </div>
          <div class="footer">
            <div class="profile-button" (click)="openDialog(politician,false)">Vezi profil</div>
            <div class="profile-button" (click)="openDialog(politician,true)">Trimite mesaj </div>
          </div>
        </div>
  
      </div>
  </div>
</div>