@for $i from 1 through 10 {
  .pt-5-#{$i} {
    padding-top: #{$i*5}px !important;
  }

  .pr-5-#{$i} {
    padding-right: #{$i*5}px !important;
  }

  .pb-5-#{$i} {
    padding-bottom: #{$i*5}px !important;
  }

  .pl-5-#{$i} {
    padding-left: #{$i*5}px !important;
  }

  .pt-10-#{$i} {
    padding-top: #{$i*10}px !important;
  }

  .pr-10-#{$i} {
    padding-right: #{$i*10}px !important;
  }

  .pb-10-#{$i} {
    padding-bottom: #{$i*10}px !important;
  }

  .pl-10-#{$i} {
    padding-left: #{$i*10}px !important;
  }

  // margin
  .mt-5-#{$i} {
    margin-top: #{$i*5}px !important;
  }

  .mr-5-#{$i} {
    margin-right: #{$i*5}px !important;
  }

  .mb-5-#{$i} {
    margin-bottom: #{$i*5}px !important;
  }

  .ml-5-#{$i} {
    margin-left: #{$i*5}px !important;
  }

  .mt-10-#{$i} {
    margin-top: #{$i*10}px !important;
  }

  .mr-10-#{$i} {
    margin-right: #{$i*10}px !important;
  }

  .mb-10-#{$i} {
    margin-bottom: #{$i*10}px !important;
  }

  .ml-10-#{$i} {
    margin-left: #{$i*10}px !important;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}
