<div id="navbar" class="navbar layout horizontal center">
  <button class="btn1 mr-10-1" routerLink="/dashboard">Pagina Principala</button>
  <div class="ml-auto user-button" [matMenuTriggerFor]="appMenu">
    <!-- <span>Hello, Cacanare</span> -->
    <div class="image-wrapper">
      <img [src]="pictureUrl" alt="">
    </div>
    <!-- <fa-icon [icon]="faSortDown" class="fa-md"></fa-icon> -->
  </div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item class="menu-item" routerLink="/politicians/profile">
      <span>Profil</span>
      <fa-icon [icon]="faUser" class="fa-md"></fa-icon>
    </button>
    <button mat-menu-item class="menu-item" (click)="logout()">
      <span>Log Out</span>
      <fa-icon [icon]="faPowerOff" class="fa-md"></fa-icon>
    </button>
  </mat-menu>
</div>